
input{
    width: 70%;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

#cadeado_login{
    height: 50px;
    padding: 30px;
}

#botao_entrar{
    color: white;
    font-weight: 700;
    background-color: #6F53E9;
    border: 0px;
    padding: 10px;
    width: 78%;
    border-radius: 3px;
    margin: 20px 0px 40px 0px;

    &:hover{
        background-image: linear-gradient(to bottom right, #5d00ff, #3b52ff);
    }
}

.container{
    background-color: #19B2AC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#login_box{
    padding: 10px 0px 0px 0px;
    border-radius: 3px;
    background-color: white;
    height: 330px;
    width: 320px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}